{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tifo_confirm_delete.css' %}">
{% endblock %}

{% block content %}
<div class="page-header">
  <h2>Are you sure you want to delete   {{ tifo.match }}
 tifo?</h2>
</div>
 
</p>

<form method="post" class="form">
    {% csrf_token %}
    <button type="submit" class="btn danger">Yes, delete</button>
    <a href="{% url 'tifo-detail' tifo.id %}" class="btn secondary">Cancel</a>
</form>
{% endblock %}