.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  background-color: var(--primary-white);
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 15px;
  width: 250px;
  box-shadow: var(--card-box-shadow);
  color: var(--primary-black);
}

.card h2 {
  color: var(--primary-red);
}

.card p strong {
  color: var(--gold);
}
