{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/group-form.css' %}">
{% endblock %}

{% block content %}
<div class="page-header">
  {% if group %}
    <h1>Edit {{ group.name }}</h1>
  {% else %}
    <h1>Add a Group in {{ country.name|upper }}</h1>
  {% endif %}
</div>

<form action="" method="post" class="form-container" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>

  {% if group and group.logo %}
    <p>Current logo:</p>
      <img src="{{ group.logo }}" alt="{{ group.name }} logo" class="group-logo">
  {% endif %}
  
  <button type="submit" class="btn submit">Submit!</button>
<a href="{% url 'country-detail' country.id %}" class="btn cancel">Cancel</a>
</form>
{% endblock %}
