{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/group-delete.css' %}">
{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Delete Group?</h1>
</div>

<h2>Are you sure you want to delete {{ group.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'group-detail' group.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>
{% endblock %}
