{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/countries.css' %}">
{% endblock %}

{% block content %}
<section class="country-search-container">
    <h1>Search For A Country</h1>
    <form method="get" class="country-search-form">
        <input type="text" name="q" placeholder="Type a country naime..." value="{{ query|default:'' }}">
        <button type="submit">Search</button>
    </form>

    {% if query %}
        <ul class="search-results">
            {% for country in countries %}
                <li><a href="{% url 'country-detail' country.id %}">{{ country.name }}</a></li>
            {% empty %}
                <li>No countries found.</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock %}
