{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<h1>About Ultras World</h1>

<p class="page-content">
  <br>
    Ultras are more than football fans — they’re a movement, a subculture, and for many, a way of life.  
    This website is dedicated to documenting and celebrating the world of Ultras:  
    their passion, traditions, and the unique culture they bring to football.  
    Here you can explore groups from different countries, discover their history, see their tifos, and connect with the global Ultras movement.  
    Whether you’re a lifelong supporter or just curious, this platform gives you a closer look into the heart of the terraces.
</p>
{% endblock %}
