{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
<p class="page-content">
  <h1>About Ultras Website</h1>
  Ultras the "ULTRA Supporters" are more than just football fans... they are a global movement, a subculture, and for many, a way of life. this website is dedicated to documenting and celebrating this passionate community, sharing their history, traditions, tifos, and the vibrant culture they bring to football terraces around the world. 
  <br>Here, you can explore groups from different countries, dive into their stories, and experience the creativity, loyalty, and energy that define the Ultras scene. Whether you are a lifelong supporter or simply curious, this platform offers an inside look at the heart of football fandom like nowhere else.
  <h1>A Brief History of Ultras</h1>
The Ultras movement started in Europe in the late 1960s and 70s as passionate fan groups who lived and breathed football beyond the stadium. More than just cheering for a team, being an Ultra shapes how a person thinks, acts, and connects with others, it’s about loyalty, creativity, and living life with intensity. <br>Across Europe, south and nowth America, and North Africa, millions of fans embrace this mentality, carrying the same energy, discipline, and passion into their everyday lives. For an Ultra, the stadium is more than a place to watch football; it’s a stage to express identity, make a statement, and be part of a tight-knit family that shares the same devotion and culture.
</p>
{% endblock %}
