{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" /> 
    <title>Ultras World</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      {% comment %} <div class="header-logo-container">
       <a href="/">
          <img src="{% static 'images/logo.png' %}" alt="Ultras World Logo" />
        </a>
      </div> {% endcomment %}
      <nav>
        <ul class="navbar">
          {% comment %} <li class="nav-logo">
        <a href="/">
          <img src="{% static 'images/logo.png' %}" alt="Ultras World Logo" />
        </a>
      </li> {% endcomment %}
          {% comment %} {% if user.is_authenticated %} {% endcomment %}
          <li><a href="{% url 'home' %}">Ultras</a></li>
          <li><a href="{% url 'countries-index' %}">Countries</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'group-index' %}">Groups</a></li> 
          {% comment %} {% endif %} {% endcomment %}

          {% if user.is_authenticated %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
          {% else %}
          {% comment %} <li><a href="{% url 'home' %}">Ultras</a></li> {% endcomment %}
          <li><a href="{% url 'login' %}">Sign In</a></li>
          {% comment %} <li><a href="{% url 'about' %}">About</a></li> {% endcomment %}

          {% endif %}

        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>