{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" /> 
    <title>Ultras World</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        {% comment %} <a href="/">
          <img src="{% static 'images/logo.png' %}" alt="Ultras World Logo" />
        </a> {% endcomment %}
      </div>
      <nav>
        <ul class="navbar">
          <li><a href="{% url 'home' %}">Ultras</a></li>
          {% comment %} <li><a href="{% url 'group-index' %}">Groups</a></li> {% endcomment %}
          <li><a href="{% url 'countries-index' %}">Countries</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'group-index' %}">Groups</a></li> <!-- <- added link -->

          {% if user.is_authenticated %}
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
          {% else %}
          <li><a href="{% url 'login' %}">Sign In</a></li>
          {% endif %}

        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>